[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
django = "==2.1.5"
dateutil = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
