[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
django = "==2.1.7"
python-dateutil = "*"
django-easy-select2 = "*"
requests = "*"
beautifulsoup4 = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.7"
