{% extends 'reflectsongs/base.html' %}

{% block content %}

<div class="card-deck">

  <div class="card">
    <h5 class="card-header">Top Songs</h5>
    <div class="card-body">
      <p>
        Most frequently played songs in the last 6 months
      </p>
      <img src="{{ topsongs.0.photo }}" class="img-fluid" />
      <table class="table table-striped">
        <thead>
          <th>Song</th>
          <th>Plays</th>
        </thead>
        {% for song in topsongs %}
        <tr>
          <td>
            <a href="{% url 'song-view' song.slug %}">{{ song }}</a>
          </td>
          <td>
            {{ song.setlist_count }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">New Songs</h5>
    <div class="card-body">
      <p>
        Songs most recently introduced
      </p>
      <table class="table table-striped">
        <thead>
          <th>Song</th>
          <th>Date</th>
        </thead>
        {% for song in newsongs %}
        <tr>
          <td>
            <a href="{% url 'song-view' song.slug %}">{{ song }}</a>
          </td>
          <td>
            {{ song.first_played }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</div>

{% endblock %}
