{% extends 'reflectsongs/base.html' %}

{% block content %}
<h1>{% block title %}{{ setlist.friendly_name }}{% endblock %}</h1>

  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        {% for song in setlist.songs.all  %}
        <tr>
          <td>
            {% if song.photo %}
            <img src="{{ song.photo }}" class="rounded float-right d-none d-md-block thumb" />
            {% endif %}
            <a href="{% url 'song-view' song.slug %}">{{ song }}</a>
            {% if song.authors %}
            <br />
            <small>{{ song.authors }}</small>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>


{% endblock %}
