{% extends 'reflectsongs/base.html' %}

{% block content %}
<h1>
{{ song.title }}
</h1>
<dl class="row">
  <dt class="col-sm-2">Authors</dt>
  <dd class="col-sm-10">{{ song.authors }}</dd>

  <dt class="col-sm-2">Copyright Year</dt>
  <dd class="col-sm-10">{{ song.copyright_year }}</dd>

  <dt class="col-sm-2">Plays</dt>
  <dd class="col-sm-10">{{ song.setlists.count }}</dd>

  <dt class="col-sm-2">Last played</dt>
  <dd class="col-sm-10">{{ song.last_played }}</dd>
</dl>
{% if song.songselect_url %}
<p>
  <a class="btn btn-primary"
     href="{{ song.songselect_url }}"
     role="button">SongSelect</a>
</p>
{% endif %}
<div class="card" style="max-width: 500px">
  <h5 class="card-header">Video</h5>
  <div class="card-body">
    <div class='embed-container'>
      {{ embed_code }}
    </div>
  </div>
</div>
{% endblock %}
