{% extends 'reflectsongs/base.html' %}

{% block content %}
<div class="row">
<div class="col-sm-12 col-md-6">

<h1>
{{ song.title }}
</h1>

<dl class="row">
  <dt class="col-sm-3">Authors</dt>
  <dd class="col-sm-9">{{ song.authors }}</dd>

  <dt class="col-sm-3">Copyright</dt>
  <dd class="col-sm-9">{{ song.copyright_year }}</dd>

  <dt class="col-sm-3">Plays</dt>
  <dd class="col-sm-9">{{ song.setlists.count }}</dd>

  <dt class="col-sm-3">Last played</dt>
  <dd class="col-sm-9">{{ song.last_played }}</dd>
</dl>
{% if song.songselect_url %}
<p>
  <a class="btn btn-primary"
     href="{{ song.songselect_url }}"
     role="button">SongSelect</a>
</p>
{% endif %}
</div>
<div class="col-sm-12 col-md-6">

{% if song.youtube_url %}
<div class="card" style="max-width: 500px">
  <h5 class="card-header">Video</h5>
  <div class="card-body">
    <div class='embed-container'>
      {{ embed_code }}
    </div>
  </div>
</div>
{% endif %}
</div>

{% endblock %}
