{% extends 'reflectsongs/base.html' %}

{% block content %}
<div class="row">
<div class="col-sm-12 col-md-6">

<h1>{% block title %}{{ song.title }}{% endblock %}</h1>

<dl class="row">
  <dt class="col-sm-3">Authors</dt>
  <dd class="col-sm-9">{{ song.authors }}</dd>

  <dt class="col-sm-3">Copyright</dt>
  <dd class="col-sm-9">{{ song.copyright_year }}</dd>

  <dt class="col-sm-3">Plays</dt>
  <dd class="col-sm-9">{{ song.setlists.count }}</dd>

  <dt class="col-sm-3">Last played</dt>
  <dd class="col-sm-9">
    {% for lp in last_played_sites %}
    {{ lp.site }}:
    {% if lp.last_played %}
    <a href="{% url 'setlist-view' lp.last_played.id %}">
      {{ lp.last_played.date }}
    </a>
    {% else %}
    &mdash;
    {% endif %}
    <br />
    {% endfor %}
  </dd>
</dl>
<p>
  {% if song.songselect_url %}
  <a class="btn btn-primary"
     href="{{ song.songselect_url }}"
     role="button">SongSelect</a>
  {% endif %}
  {% if song.worshiptogether_url %}
  <a class="btn btn-success"
     href="{{ song.worshiptogether_url }}"
     role="button">Worship Together</a>
  {% endif %}
  {% if request.user.is_staff %}
  <a class="btn btn-outline-primary" href="{% url 'admin:reflectsongs_song_change' song.id %}">Edit</a>
  {% endif %}
</p>

</div>

<div class="col-sm-12 col-md-6">

{% if song.youtube_url %}
<div class="card" style="max-width: 500px">
  <h5 class="card-header">Video</h5>
  <div class="card-body">
    <div class='embed-container'>
      {{ embed_code }}
    </div>
  </div>
</div>
{% endif %}

</div>

</div>

{% if song.lyrics %}
<h4>Lyrics</h4>
<p>
  {{ song.lyrics | linebreaks }}
</p>
{% endif %}

{% endblock %}
