{% extends 'reflectsongs/base.html' %}

{% block title %}Stats{% endblock %}
{% block content %}

<div class="row">
  <div class="col-sm-12 col-md-6">

    <h1>
      Word Stats
    </h1>

    <p>
      <small>
        Because <em>what</em> we sing is important.
      </small>
    </p>

    <p>
      Songs: {{ song_count }}
      <br />
      Unique words: {{ words_by_count|length }}
    </p>

  </div>
  <div class="col-sm-12 col-md-6">

    <div class="card">
      <h5 class="card-header">Trinitarian Rating</h5>
      <div class="card-body">
        <canvas id="trinity-count"></canvas>
        {{ trinity_data|json_script:"trinity-count-data" }}
        <p class="text-center">
          <small>
            Outer: By Count
            <br />
            Inner: By Songs
          </small>
        </p>
      </div>
    </div>
  </div>

</div>

<div class="card-deck mt-3">

  <div class="card">
    <h5 class="card-header">Top Words by Count</h5>
    <div class="card-body">
      <table class="table table-striped">
        {% for word in words_by_count %}
        <tr>
          <td><b>{{ word.word }}</b></td>
          <td>{{ word.nwords }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Top Words by # Songs</h5>
    <div class="card-body">
      <table class="table table-striped">
        {% for word in words_by_song %}
        <tr>
          <td><b>{{ word.word }}</b></td>
          <td>{{ word.ndocs }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</div>

{% endblock %}
